@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark text-light;
    -webkit-font-smoothing: antialiased;
  }
  ::selection {
    @apply bg-light text-dark;
  }
}

@layer components {
  .projectLink:hover hr {
    border-top: 2px solid #fff;
    opacity: 1;
  }
  .projectLink svg {
    transition: all 100ms ease-in-out;
  }
  .projectLink:hover svg {
    transform: rotate(90deg);
  }
  .projectLink:hover .projectLinkTitle {
    color: #fff;
  }
  .projectLink:hover .projectLinkDesc {
    opacity: 0.4;
  }
  .alterLink h1 {
    transition: all 200ms ease-in-out;
  }
  .alterLink:hover {
    border-bottom: 1px solid #fff;
  }
  .alterLink:hover h1 {
    margin-left: 15px;
  }
  .alterLink p {
    transition: all 200ms ease-in-out;
  }
  .alterLink:hover p {
    opacity: 1;
  }
}
